*{
    margin:0;
    padding:0%;
    box-sizing: border-box;
}

#root {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.App {
    margin-left: auto;
    margin-right: auto;
    width:800px;
    align-items: center
}

.post{
    display:flex;
    padding: 15px;
    border:2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter{
    transform: translateX(-350px);
}

.post-enter-active{
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit{
    opacity:1;
}

.post-exit-active{
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.post__btns{
    display:flex;
    flex-direction:column;
}

.page__wrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.page{
    padding:10px;
    border: 1px, solid teal;
    color:teal;
    cursor:pointer;
    margin-left:5px;
    margin-right:5px;
}

.page__current{
    border:2px solid orange;
    font-weight:bold;
    color:orange;
}

.navbar{
    height:50px;
    width:100vw;
    display:flex;
    align-items: center;
    padding: 0 15px;
    background: green;
    
}

.navbar__links{
    align-items: center;
    width: 100%;
    text-align: center;
    
}


